*{
    margin: auto;
    padding: auto;
}
body{
    margin: auto;
    padding: auto;

}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./Assets/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: fixed;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}
.img{
    margin-top: 25px;
    margin-left: 40px;
    max-width: 167px;
    position: absolute;
}
.container{
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    margin-left: 430px;
    margin-top: 100px;
    background-color: rgba(19, 19, 19, 0.75);
    box-sizing: border-box;
    border-radius: 4px;
    position: absolute;
    flex-direction: column;
    width: 34.5%;
    min-height: 655px;
    padding-left: 1.5cm;
    
}
.container h1{
    font-size: 33px;

    color: white;
    margin-top: 1.3cm;
    font-weight: 500;
    margin-bottom: 20px;
}
.container input{
    background-color: #333333;
    padding: 0.3cm;
    border-radius: 4px;
    margin-top: 0.4cm;
    width: 270px;
    height: 25px;
}
.container button{
    margin-left: 1.5cm;
    padding-left: 1.5cm;
}
::placeholder{
    padding: 7px;
    
}